body {
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	background: url(p.png);
	background-size: cover;
}

.login-box {
	width: 420px;
	height: 370px;
	position: absolute;
	top: 50%;
	left: 50%;
	position: absolute;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.5);
	transform: translate(-50%, -50%);
	color: #fffffffe;
	padding: 15px 30px;
	border-radius: 15px;
}

.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;

}

.login-box h1 {
	float: center;
	font-size: 40px;
	border-bottom: 4px solid #fffffffe;
	margin-bottom: 50px;
	text-align: center;
	padding: 13px;
}

.login-box a:hover
{
    color: #ef90dd;
}

.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #e063d6;
    color: #000;
	
}

.textbox {
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	font-family: tahoma;
	padding: 0px 50px;
	margin: 8px 0;
	border-radius: 15px;
	color: black;
}
.textbox1 {
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	border-radius: 15px;
	padding: 0px 50px;
	margin: 8px 0;
	color: black;
}

.fa {
	
	float: left;
	text-align: center;
	color: #000;
	padding-top: 10px;
}

.textbox input {
	border: none;
	outline: none;
	color: rgb(0, 0, 0);
	font-size: 18px;
	float: center;
	border-radius: 10px;
	margin: 0 10px;
	width: 60.5%;
}
.textbox1 input {
	border: none;
	outline: none;
	color: rgb(0, 0, 0);
	border-radius: 10px;
	font-size: 18px;
	float: center;
	margin: 0 10px;
}

.button {
	
	width: 50%;
	padding: 8px ;
	color: #ffffff;
	background: none #da67b3fe;
	border: none;
	
	border-radius: 6px;
	font-size: 22px;
	cursor: pointer;
	margin: 25px 90px;
	
}
.icon{
	display: flex;
	justify-content: space-between;
}